.container {
  padding: 4px 8px;
  margin: auto;
  cursor: pointer;
  list-style: none;
  cursor: pointer;
  border-top: 1px solid;
}

.container:hover,
.container:focus {
  background-color: darkgrey;
}
